<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.ActivateempDao">

    <resultMap id="BaseResultMap" type="com.zy.entity.Activateemp">
        <id column="id" property="id"/>
        <result column="empId" property="empId"/>
        <result column="name" property="name"/>
        <result column="phone" property="phone"/>
        <result column="address" property="address"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
    </resultMap>

    <!--  登录   -->
    <select id="loadUserByUsername" resultMap="BaseResultMap">
      SELECT * FROM activateemp WHERE username=#{username}
    </select>
    <!--  管理员登录之后获取操作   -->
    <select id="getOperationByAdmin" resultType="com.zy.entity.Operation">
         SELECT * FROM operation where apply="admin"
    </select>

    <select id="getInfoByEmpId" resultType="com.zy.entity.Activateemp" parameterType="long">
        select * from activateemp where empId=#{empId}
    </select>

    <insert id="insertActivatemp" parameterType="com.zy.entity.Activateemp">
        insert into activateemp(empId,name,phone,address,username,password,roleId)   values(#{empId},#{name},#{phone},#{address},#{username},#{password},2)
    </insert>


</mapper>