<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.DepartmentDao">


    <!--  获取部门和相应的职位   -->
    <select id="getDepartments" resultType="com.zy.entity.Department">
         SELECT * FROM department
    </select>

    <delete id="deleteGrade" parameterType="int">
      delete from department where id=#{id}
    </delete>

    <select id="getEmployeeByGradeId" parameterType="int" resultType="com.zy.entity.Employee">
        select * from employee where grade=(select name from department where id=#{id}) and isDeleted=1
    </select>

    <update id="deleteGradeDescribe" parameterType="com.zy.vo.request.DeleteDescribeRequest">
        update department set describes=#{describes}  where id=#{id}
    </update>


    <update id="updateGrade">
        update department set name=#{name} where id=#{id}
    </update>

    <insert id="addGrade">
       insert into department(name,pId,level,describes,scale) values(#{name},#{pId},2,#{describes},#{scale})
    </insert>

    <select id="getDepartmentByNameAndPId" resultType="com.zy.entity.Department">
        select * from department where name=#{name} and pId=#{pId}
    </select>


    <select id="getLevel1" parameterType="int" resultType="com.zy.entity.Department">
        select name from department where
    </select>

</mapper>