<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.mapper.OperationDao">
    <select id="getUserOperation" resultType="com.zy.vo.Bean.Operation">
        select * from operation where level=1 and apply="employee"
    </select>

    <insert id="addRights" parameterType="com.zy.entity.Operation">
        insert into operation(authName,level,apply,path) values(#{authName},1,"employee",#{path})
    </insert>

    <select id="getOperationById" resultType="com.zy.vo.Bean.Operation" parameterType="int">
        select * from operation where operationId=#{operationId} and apply="employee"
    </select>
</mapper>